{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8" />
	<title>数据集预处理系统</title>
	<meta name="description" content="基于图像识别的数据集预处理系统" />
	<meta name="author" content="Nasir Ma" />
	<meta name="keyword" content="deep learning, preprocessing, dataset" />
	<!-- end: Meta -->

	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link href="{% static "homepage/css/bootstrap.min.css" %}" rel="stylesheet" />
{#    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">#}
	<link href="{% static "homepage/css/bootstrap-responsive.min.css" %}" rel="stylesheet" />
{#    <link href="https://cdn.bootcss.com/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet">#}
	<link href="{% static "homepage/css/style.min.css" %}" rel="stylesheet" />
	<link href="{% static "homepage/css/style-responsive.min.css" %}" rel="stylesheet" />
	<link href="{% static "homepage/css/retina.css" %}" rel="stylesheet" />
	<!-- end: CSS -->

	<!-- start: Favicon and Touch Icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/homepage/ico/apple-touch-icon-144-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/homepage/ico/apple-touch-icon-114-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/homepage/ico/apple-touch-icon-72-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" href="static/homepage/ico/apple-touch-icon-57-precomposed.png" />
	<link rel="shortcut icon" href="static/homepage/ico/favicon.png" />
	<!-- end: Favicon and Touch Icons -->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
		<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
{#				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">#}
{#					<span class="icon-bar"></span>#}
{#					<span class="icon-bar"></span>#}
{#					<span class="icon-bar"></span>#}
{#				</a>#}
				<a id="main-menu-toggle" class="hidden-phone open"><i class="icon-reorder"></i></a>
				<div class="row-fluid">
				<a class="brand span2" href="{% url 'table' %}"><span>DLPreProcessing</span></a>
				</div>
				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">

						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn account dropdown-toggle" data-toggle="dropdown" href="#">
								<div class="avatar"><img src="{% static "homepage/img/user.png" %}" alt="Avatar" /></div>
								<div class="user">
									<span class="hello">Welcome!</span>
									<span class="name">{{ user.username }}</span>
								</div>
							</a>
							<ul class="dropdown-menu">
								<li class="dropdown-menu-title">

								</li>
								<li><a href="{% url 'profile' %}"><i class="icon-user"></i> Profile</a></li>
								<li><a href="{% url 'logout' %}"><i class="icon-off"></i> Logout</a></li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->

			</div>
		</div>
	</div>
	<!-- start: Header -->

		<div class="container-fluid-full">
		<div class="row-fluid">

			<!-- start: Main Menu -->
			<div id="sidebar-left" class="span2">

				<!-- <div class="row-fluid actions">

					<input type="text" class="search span12" placeholder="..." />

				</div> -->

				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="{% url 'table' %}"><i class="icon-align-justify"></i><span class="hidden-tablet"> 数据总览</span></a></li>
						<li><a href="{% url 'task' %}"><i class="icon-bar-chart"></i><span class="hidden-tablet"> 任务清单</span></a></li>
						<li><a href="{% url 'profile' %}"><i class="icon-lock"></i><span class="hidden-tablet">  个人主页</span></a></li>
						<li><a href="{% url 'help' %}"><i class="icon-star"></i><span class="hidden-tablet">  帮助</span></a></li>
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->

			<!-- start: Content -->
			<div id="content" class="span10">



			 <div class="row-fluid">
				<div class="box span12">
					<div class="box-header">
						<h2><i class="icon-align-justify"></i><span class="break"></span>任务清单</h2>
					</div>
					<div class="box-content">
                      <form id="view">
						<table class="table table-bordered">

							  <thead>
								  <tr>
                                      <th></th>
									  <th>任务编号</th>
									  <th>创建时间</th>
									  <th>任务内容</th>
                                      <th>任务状态</th>
                                      <th>下载训练集</th>
                                      <th>下载测试集</th>
								  </tr>
							  </thead>
							  <tbody>
                              {% for transaction in transactions %}
                              <tr>
                                    <td>
                                        {% if transaction.3 == 1 %}
                                        <input type="checkbox" class="check_box" name="preview_task" value="{{ transaction.0 }}" onclick="onCheckBox(this);">
                                        {% endif %}
                                    </td>
									<td> {{ transaction.0 }} </td>
									<td>
                                        {{ transaction.1|date:"Y-m-d H:i:s" }}
									</td>
									<td>
										{{ transaction.2 }}
									</td>
									<td>
										{% if transaction.3 == 1 %}
										    <span class="label label-success">已完成</span>
                                        {% elif transaction.3 == 2 %}
                                            <span class="label label-primary">正在处理中</span>
                                        {% elif transaction.3 == 3 %}
                                            <span class="label label-warning">等待处理</span>
                                        {% elif transaction.3 == 4 %}
                                            <span class="label label-default">已过期</span>
                                        {% elif transaction.3 == 0 %}
                                            <span class="label label-important">已取消</span>
										{% endif %}
									</td>
									<td>
                                        {% if transaction.3 == 1 %}
                                            <a href="http://127.0.0.1:8000/download/{{ transaction.4 }}" download="{{ transaction.4 }}">点击下载</a>
                                        {% else %}
                                            <p>  </p>
                                        {% endif %}
									</td>
                                    <td>
                                        {% if transaction.3 == 1 %}
                                            <a href="http://127.0.0.1:8000/download/{{ transaction.5 }}" download="{{ transaction.5 }}">点击下载</a>
                                        {% else %}
                                            <p>  </p>
                                        {% endif %}
									</td>
								</tr>
                              {% endfor %}




							  </tbody>
						 </table>
                <input type="button" style=" background-color:#96FF96; float:left;"   value="生成预览图" onclick="preview()"/>
                      <br>
                      <br>
                          <a href="http://127.0.0.1:8000/preview.html" target="_blank">    点击预览</a>


                     </form>
					</div>

				</div><!--/span-->
			</div>


			</div>
		</div><!--/span-->
</div>

	<!-- start: JavaScript-->
        <script type="text/javascript">
function onCheckBox(checkbox)
{
	var items = document.getElementsByName("preview_task");
	var maxChoices = 1;
	var flag = 0;

	for(var i=0; i<items.length; i++)
	{
		if(items[i].checked)
		{
			flag ++;
		}
	}
	if(flag >= maxChoices)
	{
		for(var k=0; k<items.length; k++)
		{
			if(!items[k].checked)
			{
				items[k].disabled = true;
			}
		}
	}
	else
	{
		for(var p=0; p<items.length; p++)
		{
			if(!items[p].checked)
			{
				items[p].disabled = false;
			}
		}
	}
}

</script>


         <script>
            function preview() {
                $.post("{% url "task" %}",$("#view").serialize());
                {#$.post("{% url "table" %}",$("#"+"2").serialize());#}
			}
        </script>

		<script src="{% static "homepage/js/jquery-1.10.2.min.js" %}"></script>
{#        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>#}

	<script src="{% static "homepage/js/jquery-migrate-1.2.1.min.js" %}"></script>
		<script src="{% static "homepage/js/jquery-ui-1.10.3.custom.min.js" %}"></script>
		<script src="{% static "homepage/js/jquery.ui.touch-punch.js" %}"></script>
		<script src="{% static "homepage/js/modernizr.js" %}"></script>
		<script src="{% static "homepage/js/bootstrap.min.js" %}"></script>
		<script src="{% static "homepage/js/jquery.cookie.js" %}"></script>
		<script src='{% static "homepage/js/fullcalendar.min.js" %}'></script>
		<script src='{% static "homepage/js/jquery.dataTables.min.js" %}'></script>
		<script src="{% static "homepage/js/excanvas.js" %}"></script>
	<script src="{% static "homepage/js/jquery.flot.js" %}"></script>
	<script src="{% static "homepage/js/jquery.flot.pie.js" %}"></script>
	<script src="{% static "homepage/js/jquery.flot.stack.js" %}"></script>
	<script src="{% static "homepage/js/jquery.flot.resize.min.js" %}"></script>
	<script src="{% static "homepage/js/jquery.flot.time.js" %}"></script>

		<script src="{% static "homepage/js/jquery.chosen.min.js" %}"></script>
		<script src="{% static "homepage/js/jquery.uniform.min.js" %}"></script>
		<script src="{% static "homepage/js/jquery.cleditor.min.js" %}"></script>
		<script src="{% static "homepage/js/jquery.noty.js" %}"></script>
		<script src="{% static "homepage/js/jquery.elfinder.min.js" %}"></script>
		<script src="{% static "homepage/js/jquery.raty.min.js" %}"></script>
		<script src="{% static "homepage/js/jquery.iphone.toggle.js" %}"></script>
		<script src="{% static "homepage/js/jquery.uploadify-3.1.min.js" %}"></script>
		<script src="{% static "homepage/js/jquery.gritter.min.js" %}"></script>
		<script src="{% static "homepage/js/jquery.imagesloaded.js" %}"></script>
		<script src="{% static "homepage/js/jquery.masonry.min.js" %}"></script>
		<script src="{% static "homepage/js/jquery.knob.modified.js" %}"></script>
		<script src="{% static "homepage/js/jquery.sparkline.min.js" %}"></script>
		<script src="{% static "homepage/js/counter.min.js" %}"></script>
		<script src="{% static "homepage/js/raphael.2.1.0.min.js" %}"></script>
	<script src="{% static "homepage/js/justgage.1.0.1.min.js" %}"></script>
		<script src="{% static "homepage/js/jquery.autosize.min.js" %}"></script>
		<script src="{% static "homepage/js/retina.js" %}"></script>
		<script src="{% static "homepage/js/jquery.placeholder.min.js" %}"></script>
		<script src="{% static "homepage/js/wizard.min.js" %}"></script>
		<script src="{% static "homepage/js/core.min.js" %}"></script>
		<script src="{% static "homepage/js/charts.min.js" %}"></script>
		<script src="{% static "homepage/js/custom.min.js" %}"></script>


{#        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
{#        <script src="https://cdn.bootcss.com/jquery/3.4.0/core.js"></script>#}
{#        <script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.js"></script>#}
	<!-- end: JavaScript-->


</body>
</html>
